.event-text {
    font-size: 14px;
    line-height: 26px;
    color: #656363;
}

.timestamp {
    font-size: 16px;
    color: black !important;
    margin: 0px;
}

.evt-date {
    color: #656363;
    line-height: 19px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.reserve {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #EB4E42 !important;
}

.uk-card-body {
    padding: 30px 20px;
    height: 300px;
}


.uk-card-title {
    color: black !important;
    font-size: 18px !important;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 22px !important;
}

.uk-bg {
    color: #EA4335 !important;
}

.organiser {
    background: #F8FAFD;
    height: 650px;
}

.team {
    font-size: 28px;
    line-height: 34px;
    margin-left: 15px;
    font-weight: bold;
}

.card-shadow {
    box-shadow: 20px 64px 54px rgba(0, 0, 0, 0.05), 0px 14px 14px rgba(0, 0, 0, 0.05);
}

.partner-text {
    font-size: 14px;
    line-height: 28px;
    color: #656363;
    margin-left: 15px;
}

@media (min-width: 1025px) {
    .reorder-pic {
        width: 301px;
        height: 309px;
    }
    .partner-text {
        font-size: 20px;
        line-height: 36px;
        color: #656363;
    }
}

.card {
    background-color: #fff;
}

.cancel {
    overflow: visible !important;
}